<template>
  <div>
    <v-btn color="primary" nuxt to="/san-pham">Sản phẩm</v-btn>
    <div v-text="ip"></div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";

export default {
  components: {},
  computed: {
    ...mapGetters({ appVersion: "appVersion" })
  },
  methods: {
    ...mapActions({
      getIP: "getIP"
    })
  },
  data() {
    return {
      ip: ""
    };
  },
  async created() {
    let { ip } = await this.getIP();
    this.ip = ip;
  }
};
</script>
